{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
{% block title %}Questions | {{ block.super }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/qanda/style.css' %}">
{% endblock css %}

{% block content %}
<div class="container-fluid">
    <div class="row">
      {% include 'sidebar.html'%}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Your Questions</h1>
            <div class="container-fluid">
                <form action="." method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline'%}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
        <div class="container-fluid">
            {% for question in questions %}
              {% include "qna/snippets/questionCard.html" with instance=question %}
            {% endfor %}
        </div>
      </main>
    </div>
  </div>
{% endblock %}
{% block js %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>

<script src="{% static 'js/vote.js' %}"></script>
{% endblock js %}