{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Ask a question | {{ block.super }}{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
      {% include 'sidebar.html'%}
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Ask a question</h1>
        </div>
        <div class="container-fluid">
            <form action="." method='post'>
                {% csrf_token%}
                {% bootstrap_form form layout="inline" %}
                <input type="submit" class="btn btn-primary">
            </form>
            </div>
      </div>
      </main>
    </div>
  </div>
{% endblock %}