{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
  {% if validlink %}
    <form class="form-signin" method="post">
    <h3 class="h3 mb-3 font-weight-normal">Change password</h3>
      {% csrf_token %}
      {% bootstrap_form form%}
      <button type="submit">Change password</button>
    </form>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}