{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block css %}<link rel="stylesheet" href="{% static 'css/login/login.css' %}">{% endblock css %}
{% block content %}
  <!-- <form class="form-signin" method="post">
          <h3 class="h3 mb-3 font-weight-normal">Forgot password</h3>
          {% csrf_token %}
          {% bootstrap_form form %}
          <p><a href="{% url 'login' %}">Back to login</a></p>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Reset Password</button>
          <hr>
          <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
  </form> -->

  <header id="login-section">
    <div class="dark-overlay text-light">
      <div class="container">
          <div class="card  text-center ">
            <div class="card-body">
              <i class="fas fa-4x fa-user-circle"></i>

                <form class="form-signin">
                  <h3 class="h3 mb-3 font-weight-normal">Change password</h3>
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <p><a class="btn btn-danger btn-block btn-sm" href="{% url 'login' %}">Back to login</a></p>
                  <button class="btn btn-lg btn-outline-yellow btn-block" type="submit">Reset Password</button>
                  <hr>
                </form>
              </div>
            </div>
          </div>
        </div>
      </header>
{% endblock %}
