<div class="card shadow my-3">
  <div class="card-header f-1" style="background-color: rgba(0, 123, 255, 0.25) !important;">
        {{ instance.author | title }}
        <div class="float-right d-inline ">
          <span class="text-muted " style="font-size: 0.75rem;"> created on   {{ instance.created_at|time:"g:i a" }} || {{instance.created_at|timesince}} ago </span>
        </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-xl-1 col-md-2 col-sm-2 col-xs-2  pr-1 d-none d-sm-block ">
        <div class="card-text text-center f-1">
            Answers
        </div>
        <div class="box text-center f-1 text-info ">
            0
        </div>
      </div>
      <div class="col-xl-11 col-md-10 col-sm-10 col-xs-10">
        <div class="card-title f-1_1">Q: {{ instance.title| truncatechars:60 |capfirst}}</div>
        <div class="container">
          <p class="card-text f-_75">{{ instance.description | truncatechars:180 |capfirst}}</p>
          <div class="d-flex flex-wrap row-hl mt-3">
            {% for tag in instance.tags.all %}
              <a href="{% url 'tags' tag.slug %}" class="mr-2 mb-2 badge badge-info"><i class="fas fa-tag"> {{ tag }}</i></a>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col">
              <a href="{% url 'addanswer' instance.id %}" class="btn btn-outline-success btn-sm btn-block mt-3">Add Answer</a>
            </div>
            <div class="col">
              <a href="{% url 'question-detail' instance.id %}" class="btn btn-primary btn-sm btn-block mt-3">See full details</a>
            </div>
          </div>
        </div>
        <blockquote class="blockquote text-right"></p>
          <footer class="blockquote-footer" style="font-size: 0.75rem;">Posted By
            <cite title="Source Title">  {{ instance.author }}</cite>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>
