#signup-section {
  background: url(../../img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 705px;

}
#signup-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 50px;
}
#signup-section .dark-overlay .row {
  margin-top : 60px;
}

#signup-section .home-inner {
  padding-top: 150px;
}

#signup-section .card {
  background: rgba(255,255,153,0.2);

}
#signup-section .card-form{
  opacity: 0.9;
}

body {
  margin-top: 45px; }
