#profile-background{
    position: absolute;
    background: url('../../img/banner-background2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#profile-card{
    background-color: rgba(0, 123, 255, 0.25);
}

.profile-background-image {
    position: inherit;
    margin-top: 2rem;
    background: url("../../img/banner6.jpg") 50%/cover    ;
    width: 100%;

}
.dark-overlay {
    position: relative;
    min-height: 200px;
    background: rgba(0, 0, 0, 0.4);
  }

#authors-details img {
    float: right;
    margin-top: -25%;
    align-self: center;
    width: 10vw;
    height: 10vw;
    border: gray solid;

}
#right-side-profile .person-hover {
    background:  rgba(0, 123, 255, 0.25);
    color: rgb(102, 100, 100);
}
#right-side-profile .person-hover:hover {
    background: rgb(0, 204, 255);
    color: rgb(0, 0, 0);
}
#info-card .col:hover {
    border-bottom: rgb(0, 204, 255) 2px solid;
    cursor: pointer;
}
#info-card .col{
    background-color: #6c757d30;
}


#authors-details .fab {
    color: #fff;
 }

.no-padding-right{
    padding-right: 0px;
}
.no-padding-left{
    padding-left: 0px;
}

#info-card .boader-left{
    border-left: black;
}


 .f-3{
     font-size: 3rem;

 }
 .f-2{
    font-size: 2rem;

}
.f-1{
    font-size: 1rem;

}
.f-1_5{
    font-size: 1.5rem;

}
.f-_5{
    font-size: .5rem;
    /*font-size: .5vw;
   */
}
.f-_75{
    font-size: .75rem;
}
 .profile-details{
     margin-left: 1rem;
 }
 .people-suggestion-img{
    float: left;

    width: 46px;
    height: 46px;

    border: gray solid;
 }

 .no-gutter.row,
 .no-gutter.container,
 .no-gutter.container-fluid{
   margin-left: 1rem;
   margin-right: 1rem  ;
 }

 .no-gutter>[class^="col-"]{
   padding-left: 0;

 }


@media(max-width: 768px){
    /* body{
        background-color: chartreuse;
    } */
    .profile-details{
        margin-left: 0rem;
    }
    #authors-details img {

        margin-top: 0.5rem;
        align-self: right;
        width: 10vw;
        height: 10vw;
        border: gray solid;

    }
    #profile-card .card-body{
        padding-top: 0;
    }
    #profile-card{
        background-color: rgba(0, 123, 255, 0.25);
    }
}

 /* Small devices (landscape phones) */
@media (min-width: 576px) {
   /* body {
            background: red;
        } */

    .custom-container-profile{
        margin-left: 0rem;
        padding: 0rem;
    }
    }

    /* Medium devices (tablets) */

    @media (min-width: 768px) {
     /* body {
            background: blue
        }
      */

        .custom-container-profile{
            margin-left: 0rem;
            padding: 0rem;
        }
        .f-3{
            font-size: 2.5rem;

        }
        .f-2{
           font-size: 1.5rem;

       }
       .f-1{
           font-size: 1rem;

       }
       .f-1_5{
           font-size: 1rem;

       }
       .f-_5{
           font-size: .5rem;
           /*font-size: .5vw;
          */
       }
       .f-_75{
        font-size: .75rem;
    }

    }

    /* Large devices (desktops) */

    @media (min-width: 992px) {
     /*  body {
            background: green;
        }
       */
        .custom-container-profile{
            margin-left: 2rem;
            padding: 0rem;
        }

    }

    /* Extra large devices (large desktops) */

    @media (min-width: 1200px) {
   /*  body {
            background: yellow;
        }
     */
        .custom-container-profile{
            margin-left: 2rem;
            padding: 0rem;
        }
    }

    /* The given screen size or smaller */

    /* Extra small devices (portrait phones)*/

    @media (max-width: 575px) {
  /*     body {
            background: coral;
        }

    */    .custom-container-profile{
            margin-left: 0rem;
            padding: 0rem;
        }
        .f-3{
            font-size: 2rem;

        }
        .f-2{
           font-size: 1rem;

       }
       .f-1{
           font-size: .75rem;

       }
       .f-1_5{
           font-size: 1rem;

       }
       .f-_5{
           font-size: .5rem;
           /*font-size: .5vw;
          */
       }
       .f-_75{
        font-size: .65rem;
    }
    }
