{% load static %}
<!--NAV BAR-->
<nav class="navbar navbar-expand-md bg-yellow navbar-light fixed-top py-1" id="main-nav">
        <div class="container">
          <a href="{% url 'homepage'%}" class="navbar-brand pr-5">
                    <img src="{% static 'img/logo.png'%}" width="40" height="30" alt="">
             <span class="font-custom">Askub</span>
            </a>
          <div class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <div class="navbar-toggler-icon"></div>
          </div>
          <div class="collapse navbar-collapse" id="navbarCollapse">
                <form class="form-inline">
                    <input class="form-control form-control-sm mr-sm-2 ml-sm-5" type="search" placeholder="Search" aria-label="Search">

                </form>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="{% url 'homepage'%}" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'questions'%}" class="nav-link">Questions</a>
              </li>
  {% if request.user.is_authenticated %}
              <li class="ml-md-3">
                <a href="{% url 'profile' %}">    <img class="nav-user-img shadow" src="{% static 'img/avatar/avatar5.png' %}" alt="">  </a>
              </li>
              <li class="nav-item">
                <a href="{% url 'logout'%}" class="nav-link text-primary">Logout</a>
              </li>

  {% else %}
              <li class="nav-item">
                <a href="{% url 'login'%}" class="nav-link text-primary">login</a>
              </li>
              <li class="nav-item">
                {# <a href="#share-head-section" class="nav-link btn btn-sm btn-outline-primary" data-toggle="modal" data-target="#signup">Sign up</a> #}
                <a href="{% url 'signup'%}" class="nav-link btn btn-sm btn-outline-primary">Register</a>

              </li>
  {% endif %}
            </ul>
          </div>
        </div>
      </nav>

