{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% include "common/css.html" %}
    <title>{% block title %}QnA{% endblock %}</title>
  </head>
  <body>
    {% include "common/navbar.html" %}
    <!-- Top Navbar-->
    <!-- <nav class="site-header sticky-top py-1">
        <div class="container d-flex flex-column flex-md-row justify-content-between">
          <a class="py-2" href="{% url 'homepage'%}" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24" focusable="false"><title>QnA Homepage</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
          </a>
          <a class="py-2 d-none d-md-inline-block" href="{% url 'questions'%}">Question</a>
          {% if request.user.is_authenticated %}
          <a class="py-2 d-none d-md-inline-block" href="#">Topics</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Blog</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Profile</a>
          <a class="py-2 d-none d-md-inline-block btn btn-light" href="{% url 'logout'%}"><span style="color:black">Logout</span></a>
          {% else %}
          <a class="py-2 d-none d-md-inline-block" href="{% url 'signup'%}">Register</a>
          <a class="py-2 d-none d-md-inline-block" href="#">About Us</a>
          <a class="py-2 d-none d-md-inline-block" href="#">Contact us</a>
          {% endif %}
        </div>
      </nav> -->
    {% block content %}{% endblock %}
    {# footer #}
    {% include "common/footer.html" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include "common/js.html" %}
  </body>
</html>
