{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% block css %}{% endblock css %}
    {% include "common/css.html" %}
    <title>{% block title %}QnA{% endblock %}</title>
  </head>
  <body>
    {% include "common/navbar.html" %}
    {% block content %}{% endblock %}
    {# footer #}
    {% include "common/footer.html" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

{% include "common/js.html" %}
  </body>
</html>
